<div class="container text-center">
  <div class="row toppage-title-container">
    <div class="toppage-title">
      <%= image_tag("MANTRA2.png", alt: "MANTRA") %>
      <%= image_tag("スパイスカレーとアイスクリーム.png", alt: "スパイスカレーとアイスクリーム", class: "curry-and-ice") %>
    </div>
  </div>
  <div class="row toppage-curry-container" style="margin-top: 30px;">
    <div class="toppage-curry">
      <%= image_tag("curryimage2.png", alt: "バターチキンカレー", class: "curry-img") %>
      <%= link_to menu_path, class: "to-menu-button-curry" do %>
        <button class="see-more-button">SEE MORE <i class="fa-regular fa-square-caret-right" style="color: black;"></i></button>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 80px;">
  <div class="row toppage-ice-title">
    FIND YOUR ICECREAM
  </div>
  <div class="row toppage-ice-container">
    <div class="col-3">
      <div class="card toppage-ice-card">
        <div style="text-align: center;">
          <%= image_tag("hojicha.png", alt: "ほうじ茶アイスクリーム", class: "ice-img") %>
          <h5>チャイマサラ:ほうじ茶:白玉</h5>
          <p>
            シナモンやクローブ、フェンネルなどブレンドしたスパイスと<br>
            紅茶の代わりにほうじ茶葉を使った和風なチャイをベースに<br>
            もちもちな求肥も入ってるゾ☆
          </p>
          <p>￥400(税抜)</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card toppage-ice-card">
        <div style="text-align: center;">
          <%= image_tag("caramel.png", alt: "キャラメルアイスクリーム", class: "ice-img") %>
          <h5>ウーシャンフェン:キャラメル:アーモンド</h5>
          <p>
            中国のブレンドスパイス、桂花、薔香、丁字、花椒、陳皮たちが<br>
            甘いキャラメルと出会いました。<br>
            アーモンドも出会いました。
          </p>
          <p>￥400(税抜)</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card toppage-ice-card">
        <div style="text-align: center;">
          <%= image_tag("kinako.png", alt: "きな粉アイスクリーム", class: "ice-img") %>
          <h5>きな粉:豆乳:コクの実</h5>
          <p>
            スパイス感はないです、、、<br>
            投入は桑の葉で少し香りをつけてます。<br>
            たなには、こんなのも。
          </p>
          <p>￥400(税抜)</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card toppage-ice-card">
        <div style="text-align: center;">
          <%= image_tag("cardamom.png", alt: "カルダモンアイスクリーム", class: "ice-img") %>
          <h5>ジンジャー:カルダモン:マシュマロ</h5>
          <p>
            高円寺時代の一番人気。初めて作ったアイスクリーム。<br>
            甘いバニラ、柑橘のような爽やかなカルダモン、すりおろしたジンジャーの刺激、<br>
            凍らせてモチモチになったマシュマロ
          </p>
          <p>￥400(税抜)</p>
        </div>
      </div>
    </div>
  </div>
</div>

