<!DOCTYPE html>
<html>
  <head>
    <title>Mantra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/8cc696f355.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #EEB006;">
    <nav class="container-fluid navbar navbar-expand-lg navbar-light" style="background-color: #EEB006; margin: 0;">
      <div class="d-flex justify-content-center">
        <% if admin_signed_in? %>
          <%= link_to admin_root_path, class: 'navbar-brand' do %>
            <%= image_tag("onion.png", alt: "MANTRA") %>
          <% end %>
        <% else %>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag("onion.png", alt: "MANTRA") %>
          <% end %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li>
              ※管理者ログイン中
            </li>
            <li class="nav-item">
              <%= link_to admin_items_path, class: "nav-link text-right" do %>
                <button>
                  メニュー管理
                </button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_notices_path, class: "nav-link text-right" do %>
                <button>
                  お知らせ管理
                </button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-right" do %>
                <button>
                  ログアウト
                </button>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to menu_path, class: "nav-link text-right" do %>
                <button class="header-button">MENU</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to opening_path, class: "nav-link text-right" do %>
                <button class="header-button">OPENIGN HOUR</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to access_path, class: "nav-link text-right" do %>
                <button class="header-button">ACCESS</button>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to contact_path, class: "nav-link text-right" do %>
                <button class="header-button">CONTACT</button>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>

